.searchArea {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

    input[type='text'] {
        width: 75%;
        padding: 1rem;
        font-size: 1.5rem;
        text-align: center;

        color: #004085;
        border-color: #b8daff;
        border: .1rem solid;
    }

    input[type='button'] {
        width: 300px;
        font-size: 1.5rem;
        cursor: pointer;

        color: #856404;
        background-color: #fff3cd;

        border-color: #ffeeba;
        border: .1rem solid;

        &:hover {
            background-color: #856404;
            color: #fff3cd;
            border-color: #856404;
        }
    }
}